body {
  background-image: #ffa899;
  background-image: radial-gradient(
      at 71% 0%,
      hsla(124, 74%, 66%, 1) 0,
      transparent 40%
    ),
    radial-gradient(at 31% 18%, hsla(259, 69%, 78%, 1) 0, transparent 53%),
    radial-gradient(at 62% 64%, hsla(36, 61%, 67%, 1) 0, transparent 54%),
    radial-gradient(at 46% 25%, hsla(1, 91%, 75%, 1) 0, transparent 41%),
    radial-gradient(at 50% 49%, hsla(77, 71%, 70%, 1) 0, transparent 49%),
    radial-gradient(at 2% 90%, hsla(10, 81%, 77%, 1) 0, transparent 42%),
    radial-gradient(at 23% 89%, hsla(303, 83%, 77%, 1) 0, transparent 49%);

  width: 100vw;
  height: 100vh;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  height: 5vh;
}

#content {
  height: 95vh;
}

#window {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px -5px 8px rgb(0 0 0 / 4%), 0px 24px 40px rgb(0 0 0 / 8%);
  color: #121212;
  padding: 24px;
  border-radius: 24px;
}

.modal-body {
  overflow: scroll;
  height: 60vh;
}

.token-list-img {
  width: 40px;
}
